<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <%- include('partials/header.ejs', { name: hotGirl.name })  %>
        <h3><%= hotGirl.name %></h3>
        <p><%= hotGirl.age %></p>
        <br><br>
        <img src="../images/<%= hotGirl.image %>"/>
        <br /><br />
        <a href="/back/<%= hotGirl.id %>">Back</a>
        <a href="/next/<%= hotGirl.id %>">Next</a>
        <%= hotGirl.id  %>
        <%- include('partials/footer.ejs')  %>
    </body>
</html>